<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.odes.fleet.develop.mapper.ModelFieldMapper">
  <sql id="tableColumn">
    <trim suffixOverrides=",">
      `develop_model_field`.`id`,
      `develop_model_field`.`code`,
      `develop_model_field`.`name`,
      `develop_model_field`.`data_type`,
      `develop_model_field`.`length`,
      `develop_model_field`.`data_enum`,
      `develop_model_field`.`data_model`,
      `develop_model_field`.`model`,
    </trim>
  </sql>
  <sql id="column">
    <trim suffixOverrides=",">
      `id`,
      `code`,
      `name`,
      `data_type`,
      `length`,
      `data_enum`,
      `data_model`,
      `model`,
    </trim>
  </sql>

  <sql id="insertColumn">
    <trim suffixOverrides=",">
      `id`,
      <if test="code != null">`code`,</if>
      <if test="name != null">`name`,</if>
      <if test="dataType != null">`data_type`,</if>
      <if test="length != null">`length`,</if>
      <if test="dataEnum != null">`data_enum`,</if>
    </trim>
  </sql>
  <sql id="insertValue">
    <trim suffixOverrides=",">
      #{id},
      <if test="code != null">#{code},</if>
      <if test="name != null">#{name},</if>
      <if test="dataType != null">#{data_type},</if>
      <if test="length != null">#{length},</if>
      <if test="dataEnum != null">#{dataEnum},</if>
    </trim>
  </sql>
  <sql id="insertEntityValue">
    <trim suffixOverrides=",">
      #{module.id},
      <if test="module.code != null">#{module.code},</if>
      <if test="module.name != null">#{module.name},</if>
      <if test="module.dataType != null">#{module.dataType},</if>
      <if test="module.length != null">#{module.length},</if>
      <if test="module.dataEnum != null">#{module.dataEnum},</if>
    </trim>
  </sql>

  <sql id="updateColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">`code` = #{code},</if>
      <if test="name != null">`name` = #{name},</if>
      <if test="dataType != null">`data_type` = #{dataType},</if>
      <if test="length != null">`length` = #{length},</if>
      <if test="dataEnum != null">`data_enum` = #{dataEnum},</if>
    </trim>
  </sql>
  <sql id="updateEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="module.code != null">`code` = #{module.code},</if>
      <if test="module.name != null">`name` = #{module.name},</if>
      <if test="module.dataType != null">`data_type` = #{module.dataType},</if>
      <if test="module.length != null">`length` = #{module.length},</if>
      <if test="module.dataEnum != null">`data_enum` = #{module.dataEnum},</if>
    </trim>
  </sql>

  <resultMap id="resultMap" type="dev.odes.fleet.develop.entity.ModelField">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="dataType" column="data_type"/>
    <result property="length" column="length"/>
    <result property="dataEnum" column="data_enum"/>
    <result property="dataModel" column="data_model"/>
    <result property="model" column="model"/>
  </resultMap>

  <select id="find" resultMap="resultMap" resultType="dev.odes.fleet.develop.entity.ModelField">
    SELECT
    <include refid="column"/>
    FROM `develop_model_field`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
    <!--    <if test="order != null and order != ''">-->
    <!--      ORDER BY ${order}-->
    <!--    </if>-->
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY id DESC
      </otherwise>
    </choose>
  </select>

  <select id="findOne" resultMap="resultMap" resultType="dev.odes.fleet.develop.entity.ModelField">
    SELECT
    <include refid="column"/>
    FROM `develop_model_field`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
    LIMIT 1
  </select>

  <insert id="insertOne" parameterType="dev.odes.fleet.develop.entity.ModelField">
    INSERT INTO `develop_model_field`
    (<include refid="insertColumn"/>)
    VALUES
    (<include refid="insertValue"/>)
  </insert>

  <insert id="insertMany" parameterType="java.util.List">
    INSERT INTO `develop_model_field`
    (<include refid="insertColumn"/>)
    VALUES
    <foreach collection="list" item="module" separator=",">
      (<include refid="insertEntityValue"/>)
    </foreach>
  </insert>

  <update id="updateOne" parameterType="dev.odes.fleet.develop.entity.ModelField">
    UPDATE `develop_model_field`
    <include refid="updateColumn"/>
    WHERE id=#{id}
  </update>

  <!--  <update id="updateMany" parameterType="java.util.HashMap">-->
  <!--    UPDATE `module`-->
  <!--    <foreach collection="moduleList" item="module" separator=",">-->
  <!--      <include refid="updateColumn"/>-->
  <!--    </foreach>-->
  <!--    WHERE id=#{id} AND updated_count=#{updatedCount, jdbcType=INTEGER}-->
  <!--  </update>-->

  <delete id="deleteOne" parameterType="java.lang.String">
    DELETE FROM `develop_model_field` WHERE id=#{id}
  </delete>

  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `develop_model_field`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

</mapper>
