#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
#set($modelCodeLowerUnderscore = $templateContext.lowerUnderscore($templateContext.model.code))
#set($modelFields = $templateContext.model.fields)
CREATE TABLE IF NOT EXISTS `${moduleCode}_${modelCodeLowerUnderscore}` (
    `id` VARCHAR(32) NOT NULL COMMENT '主键ID',
    #foreach($field in $modelFields)
    #set($column = $templateContext.getSqlColumn($field))
    ${column}
    #end
    #set($i = 1)
    #foreach($i in [1..8])
    `ext_seg${i}` VARCHAR(255) NULL DEFAULT NULL COMMENT '扩展段${i}',
    #end
    `created_by` VARCHAR(32) NULL DEFAULT NULL COMMENT '创建人ID',
    `created_at` DATETIME NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `updated_by` VARCHAR(32) NULL DEFAULT NULL COMMENT '更新人ID',
    `updated_at` DATETIME NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    `deleted_by` VARCHAR(32) NULL DEFAULT NULL COMMENT '删除人ID',
    `deleted_at` DATETIME NULL DEFAULT NULL COMMENT '删除时间',
    PRIMARY KEY (`id`)
);
