#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
package dev.odes.fleet.module.${moduleCode}.mapper;

import dev.odes.fleet.module.${moduleCode}.entity.${modelCode};
import dev.odes.fleet.database.mysql.GenericMapper;

@Mapper
public interface ${modelCode}Mapper extends GenericMapper<${modelCode}> {
}
