#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
#set($modelCodeLowerCamel = $templateContext.lowerCamel($templateContext.model.code))
#set($modelCodeLowerUnderscore = $templateContext.lowerUnderscore($templateContext.model.code))
package dev.osmanthus.fleet.module.${moduleCode}.service;

import dev.osmanthus.fleet.common.service.AbstractService;
    ${moduleCode}.entity.${modelCode};
import dev.osmanthus.fleet.module.${moduleCode}.model.${modelCode}Model;
    ${moduleCode}.repository.${modelCode}Repository;
    ${moduleCode}.transform.${modelCode}Transform;

@Service
public class ${modelCode}Service extends AbstractService<${modelCode}, ${modelCode}Model, ${modelCode}Repository> {
    private final ${modelCode}Transform ${modelCodeLowerCamel}Transform;
    private final ${modelCode}Repository ${modelCodeLowerCamel}Repository;
    public ${modelCode}Service(${modelCode}Transform ${modelCodeLowerCamel}Transform, ${modelCode}Repository ${modelCodeLowerCamel}Repository) {
        super(${modelCodeLowerCamel}Repository);
        this.${modelCodeLowerCamel}Transform = ${modelCodeLowerCamel}Transform;
        this.${modelCodeLowerCamel}Repository = ${modelCodeLowerCamel}Repository;
    }

    @Override
    public ${modelCode}Model transform(${modelCode} ${modelCodeLowerCamel}) {
        return this.${modelCodeLowerCamel}Transform.toModel(${modelCodeLowerCamel});
    }

    @Override
    public ${modelCode} transform(${modelCode}Model ${modelCodeLowerCamel}Model) {
        return this.${modelCodeLowerCamel}Transform.toEntity(${modelCodeLowerCamel}Model);
    }

}
