@use 'sass:map';

@use "variable/base" as *;
@use "variable/theme" as *;


@mixin color-primary() {
  color: var(--theme-primary, $primary);
}
@mixin color-secondary() {
  color: var(--theme-color-secondary, $secondary);
}
@mixin color-tertiary() {
  color: var(--theme-color-tertiary, $tertiary);
}
@mixin color-neutral() {
  color: var(--theme-color-neutral, $neutral);
}
@mixin color-success() {
  color: var(--theme-color-success, $success);
}
@mixin color-error() {
  color: var(--theme-color-error, $error);
}
@mixin color-warn() {
  color: var(--theme-color-warn, $warn);
}
@mixin color-info() {
  color: var(--theme-color-info, $info);
}

@mixin background-color() {
  color: $on-background;
  background-color: var(--theme-background, $background);
}

@mixin background-color-surface() {
  color: $on-surface;
  background-color: var(--theme-white, $surface);
}
@mixin background-color-primary() {
  color: $on-primary;
  background-color: var(--theme-primary, $primary);
}

@mixin background-color-secondary() {
  color: $on-secondary;
  background-color: var(--theme-color-secondary, $secondary);
}

@mixin background-color-tertiary() {
  color: $on-tertiary;
  background-color: var(--theme-color-tertiary, $tertiary);
}

@mixin background-color-neutral() {
  color: $on-neutral;
  background-color: var(--theme-color-neutral, $neutral);
}

@mixin background-color-success() {
  color: $on-primary;
  background-color: var(--theme-color-success, $success);
}

@mixin background-color-error() {
  color: $on-primary;
  background-color: var(--theme-color-error, $error);
}

@mixin background-color-warn() {
  color: $on-primary;
  background-color: var(--theme-color-warn, $warn);
}

@mixin background-color-info() {
  color: $on-primary;
  background-color: var(--theme-color-info, $info);
}

@mixin background-color-primary-container() {
  //color: $on-primary-container;
  //background-color: var($primary-container, --theme-primary-container);
}

@mixin surface-color() {
  color: var(--theme-on-surface, $on-surface);
  background-color: var(--theme-surface, $surface);
}

@mixin surface-variant-color() {
  color: $on-surface-variant;
  background-color: var($surface, --theme-surface);
}

@mixin color-primary-theme() {
  @include color-primary();

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "primary");
    }
  }
}

@mixin color-secondary-theme() {
  @include color-secondary();

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "secondary");
    }
  }
}

@mixin background-color-primary-theme() {
  @include background-color-primary();

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "on-primary");
      background-color: map.get($theme, "primary");
    }
  }
}

@mixin background-color-secondary-theme() {
  @include background-color-secondary();

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "on-secondary");
      background-color: map.get($theme, "secondary");
    }
  }
}

@mixin background-color-tertiary-theme() {
  @include background-color-tertiary();

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "on-tertiary");
      background-color: map.get($theme, "tertiary");
    }
  }
}

@mixin background-color-primary-container-theme() {
  @include background-color-primary-container();

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "on-primary-container");
      background-color: map.get($theme, "primary-container");
    }
  }
}


@mixin border-color() {
  border-color: var(--theme-outline, $outline);
}

@mixin border-color-primary() {
  border-color: var(--theme-primary, $primary);
}

@mixin border-color-secondary() {
  border-color: var(--theme-secondary, $secondary);
}

@mixin border-color-error() {
  border-color: var(--theme-error, $error);
}

@mixin border-right-color-primary() {
  border-right-color: var(--theme-primary, $primary);
}
@mixin caret-color-primary() {
  caret-color: var($primary, --theme-primary);
}

@mixin selection() {
  * {
    &::selection,
    &::-moz-selection {
      @include background-color-primary();
    }
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
