#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
#set($modelFields = $templateContext.model.modelFields)
package dev.odes.fleet.module.${moduleCode}.entity;

import dev.odes.fleet.common.entity.AbstractEntity;

public class ${modelCode} extends AbstractEntity {
    private String id;
    #foreach($field in $modelFields)
    #set($type = $templateContext.getFieldType($field))
    private $type $field.code;
    #end

    #foreach($field in $modelFields)
    #set($fieldCode = $field.code)
    #set($fieldCodeUpperCamel = $templateContext.upperCamel($fieldCode))
    #set($type = $templateContext.getFieldType($field))
    public $type get${fieldCodeUpperCamel}() {
        return $fieldCode;
    }

    public void set${fieldCodeUpperCamel}($type ${fieldCode}) {
        this.${fieldCode} = ${fieldCode};
    }

    #end
    @Override
    public String getId() {
        return this.id;
    }

    @Override
    public void setId(String id) {
        this.id = id;
    }
}
