#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
package dev.odes.fleet.module.${moduleCode}.entity;

import dev.odes.fleet.common.entity.AbstractEntity;

public class ${modelCode} extends AbstractEntity {
    private String id;

    @Override
    public String getId() {
        return null;
    }

    @Override
    public void setId(String id) {

    }
}
