#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
#set($modelName = $templateContext.model.name)
#set($modelCodeLowerCamel = $templateContext.lowerCamel($templateContext.model.code))
#set($modelCodeLowerUnderscore = $templateContext.lowerUnderscore($templateContext.model.code))
import {setModel} from "../core/metadata";

const ${modelCode}Model = {
  code: "${modelCode}",
  name: "${modelName}",
  fullName: "dev.odes.fleet.module.system.model.UserModel",
  description: null,
  fields: [
    #foreach($field in $modelFields)
    #set($fieldCode = $field.code)
    #set($fieldName = $field.name)
    #set($type = $templateContext.getModelFieldType($field))
    #if($templateContext.isModelDataType($field))
    private ${type}Model $fieldCode;
    #elseif($templateContext.isEnumDataType($field))
    private ${type}Enum $fieldCode;
    #elseif($templateContext.isFileDataType($field))
    private StaticFileModel $fieldCode;
    #elseif($field.isSlaveModel)
    private List<${type}Model> $fieldCode;
    #else
    {
      code: "${fieldCode}",
      name: "${fieldName}",
      dataType: 1,
      dataLength: 255,
      enumType: null,
      modelType: null,
      isSlaveModel: false,
      isNullable: false,
      isSearchable: true,
      isDefaultDisplay: true,
      note: null,
      sequence: "10",
    },
    #end
    #end

  ],
  module: {
    id: "1665926009322500100",
    code: "system",
    name: "系统管理",
    description: "",
    storageType: 0
  },
}

