#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
#set($modelCodeLowerCamel = $templateContext.lowerCamel($templateContext.model.code))
#set($modelCodeLowerUnderscore = $templateContext.lowerUnderscore($templateContext.model.code))
package dev.odes.fleet.module.${moduleCode}.model;

import dev.odes.fleet.common.model.AbstractModel;
import dev.odes.fleet.module.${moduleCode}.entity.${modelCode};

public class ${modelCode}Model extends AbstractModel<${modelCode}> {
    private String id;
    #foreach($field in $modelFields)
    #set($fieldCode = $field.code)
    #set($type = $templateContext.getFieldType($field))
    private $type $fieldCode;
    #end

    @Override
    public String getId() {
        return id;
    }

    @Override
    public void setId(String id) {
        this.id = id;
    }

    #foreach($field in $modelFields)
    #set($fieldCode = $field.code)
    #set($fieldCodeUpperCamel = $templateContext.upperCamel($fieldCode))
    #set($type = $templateContext.getFieldType($field))
    public $type get${fieldCodeUpperCamel}() {
      return $fieldCode;
    }

    public void set${fieldCodeUpperCamel}($type ${fieldCode}) {
      this.${fieldCode} = ${fieldCode};
    }

    #end
    @Override
    public void fromEntity(${modelCode} ${modelCodeLowerCamel}) {
        if (${modelCodeLowerCamel} == null) {
            return;
        }
    }

    @Override
    public ${modelCode} toEntity() {
        ${modelCode} ${modelCodeLowerCamel} = new ${modelCode}();
        return ${modelCodeLowerCamel};
    }
}
