#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
package dev.odes.fleet.module.${moduleCode}.repository;

import dev.odes.fleet.module.${moduleCode}.entity.${modelCode};
import dev.odes.fleet.module.${moduleCode}.mapper.${modelCode}Mapper;
import dev.odes.fleet.mysql.MysqlRepository;
import org.springframework.stereotype.Repository;

@Repository
public class ${modelCode}Repository extends MysqlRepository<${modelCode}, ${modelCode}Mapper> {
    private final ${modelCode}Mapper mapper;
    public AppModuleRepository(${modelCode}Mapper mapper) {
        super(mapper);
        this.mapper = mapper;
    }
}
