#set($moduleCode = $templateContext.module.code.toLowerCase())
#set($modelCode = $templateContext.model.code)
package dev.odes.fleet.module.${moduleCode}.service;

import dev.odes.fleet.common.service.AbstractService;
import dev.odes.fleet.module.${moduleCode}.entity.${modelCode};
import dev.odes.fleet.module.${moduleCode}.model.${modelCode}Model;
import dev.odes.fleet.module.${moduleCode}.repository.${modelCode}Repository;
import org.springframework.stereotype.Service;

@Service
public class ${modelCode}Service extends AbstractService<${modelCode}, ${modelCode}Model, ${modelCode}Repository> {
    private final ${modelCode}Repository repository;
    public ${modelCode}Service(${modelCode}Repository repository) {
        super(repository);
        this.repository = repository;
    }

    @Override
    public ${modelCode}Model transform(${modelCode} entity) {
        return null;
    }

    @Override
    public ${modelCode} transform(${modelCode}Model model) {
        return null;
    }

}
