
$themes: (
  "Red": (
    primary: #bd0f1e,
    secondary: #ff544e,
    tertiary: #ffedeb,
    neutral: #E3E2E6,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #F8F8F8,
    surface: #FFFFFF,
    surface-variant: #FAFAFA,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #1C1B1F,
    on-surface: #1C1B1F,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Orange": (
    primary: #a53c00,
    secondary: #eb6a2c,
    tertiary: #ffede7,
    neutral: #E3E2E6,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #F8F8F8,
    surface: #FFFFFF,
    surface-variant: #FAFAFA,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #1C1B1F,
    on-surface: #1C1B1F,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Yellow": (
    primary: #daa200,
    secondary: #fabd22,
    tertiary: #ffefd5,
    neutral: #e9e1d9,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #F8F8F8,
    surface: #FFFFFF,
    surface-variant: #FAFAFA,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #1C1B1F,
    on-surface: #1C1B1F,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Green": (
    primary: #266d00,
    secondary: #3da600,
    tertiary: #eeffde,
    neutral: #e3e3dc,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #F8F8F8,
    surface: #FFFFFF,
    surface-variant: #FAFAFA,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #1C1B1F,
    on-surface: #1C1B1F,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Blue": (
    primary: #005fb0,
    secondary: #3592fb,
    tertiary: #ebf1ff,
    neutral: #E3E2E6,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #F8F8F8,
    surface: #FFFFFF,
    surface-variant: #FAFAFA,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #1C1B1F,
    on-surface: #1C1B1F,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Pink": (
    primary: #b70071,
    secondary: #ff44a7,
    tertiary: #ffecf1,
    neutral: #EBE0E2,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #F8F8F8,
    surface: #FFFFFF,
    surface-variant: #FAFAFA,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #1C1B1F,
    on-surface: #1C1B1F,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Dark": (
    primary: #6750A4,
    secondary: #9A82DB,
    tertiary: #F6EDFF,
    neutral: #E5E6EB,
    error: #DC362E,
    warn: #FF9800,
    success: #4CAF50,
    info: #61B7E5,
    background: #050818,
    surface: #0D1726,
    surface-variant: #191C2D,
    outline: #E0E0E0,
    overlay: #BFBFBF,
    on-primary: #FFFFFF,
    on-secondary: #FFFFFF,
    on-tertiary: #1C1B1F,
    on-neutral: #272E3B,
    on-background: #FFFFFF,
    on-surface: #FFFFFF,
    on-surface-variant: #49454F,
    on-error: #FFFFFF,
    on-warn: #FFFFFF,
    on-success: #FFFFFF,
  ),
  "Gray": (
    primary: #546E7A,
    // secondary: #625B71,
    secondary: #9E9E9E,
    tertiary: #ECEFF1,
    primary-container: #CFD8DC,
    on-primary-container: #263238,
  ),
);
