<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.osmanthus.fleet.core.system.mapper.UserMapper">

  <resultMap id="resultMap" type="dev.osmanthus.fleet.core.system.entity.User">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="email" column="email"/>
    <result property="phone" column="phone"/>
    <result property="type" column="type"/>
    <result property="status" column="status"/>
    <result property="isSuperAdmin" column="is_super_admin"/>
    <result property="note" column="note"/>
  </resultMap>

  <sql id="tableColumn">
    <trim suffixOverrides=",">
      `system_user`.`id`,
      `system_user`.`username`,
      `system_user`.`password`,
      `system_user`.`code`,
      `system_user`.`name`,
      `system_user`.`email`,
      `system_user`.`phone`,
      `system_user`.`type`,
      `system_user`.`status`,
      `system_user`.`is_super_admin`,
      `system_user`.`note`,
    </trim>
  </sql>
  <sql id="column">
    <trim suffixOverrides=",">
      `id`,
      `username`,
      `password`,
      `code`,
      `name`,
      `email`,
      `phone`,
      `type`,
      `status`,
      `is_super_admin`,
      `note`,
    </trim>
  </sql>

  <sql id="insertColumn">
    <trim suffixOverrides=",">
      `id`,
      <if test="username != null">`username`,</if>
      <if test="password != null">`password`,</if>
      <if test="code != null">`code`,</if>
      <if test="name != null">`name`,</if>
      <if test="email != null">`email`,</if>
      <if test="phone != null">`phone`,</if>
      <if test="type != null">`type`,</if>
      <if test="status != null">`status`,</if>
      <if test="isSuperAdmin != null">`is_super_admin`,</if>
      <if test="note != null">`note`,</if>
    </trim>
  </sql>
  <sql id="insertValue">
    <trim suffixOverrides=",">
      #{id},
      <if test="username != null">#{username},</if>
      <if test="password != null">#{password},</if>
      <if test="code != null">#{code},</if>
      <if test="name != null">#{name},</if>
      <if test="email != null">#{email},</if>
      <if test="phone != null">#{phone},</if>
      <if test="type != null">#{type},</if>
      <if test="status != null">#{status},</if>
      <if test="isSuperAdmin != null">#{isSuperAdmin},</if>
      <if test="note != null">#{note},</if>
    </trim>
  </sql>
  <sql id="insertEntityValue">
    <trim suffixOverrides=",">
      #{user.id},
      <if test="user.username != null">#{user.username},</if>
      <if test="user.password != null">#{user.password},</if>
      <if test="user.code != null">#{user.code},</if>
      <if test="user.name != null">#{user.name},</if>
      <if test="user.email != null">#{user.email},</if>
      <if test="user.phone != null">#{user.phone},</if>
      <if test="user.type != null">#{user.type},</if>
      <if test="user.status != null">#{user.status},</if>
      <if test="user.isSuperAdmin != null">#{user.isSuperAdmin},</if>
      <if test="user.note != null">#{user.note},</if>
    </trim>
  </sql>

  <sql id="updateColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="username != null">`username` = #{username},</if>
      <if test="password != null">`password` = #{password},</if>
      <if test="code != null">`code` = #{code},</if>
      <if test="name != null">`name` = #{name},</if>
      <if test="email != null">`email` = #{email},</if>
      <if test="phone != null">`phone` = #{phone},</if>
      <if test="type != null">`type` = #{type},</if>
      <if test="status != null">`status` = #{status},</if>
      <if test="isSuperAdmin != null">`is_super_admin` = #{isSuperAdmin},</if>
      <if test="note != null">`note` = #{note},</if>
    </trim>
  </sql>
  <sql id="updateEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="user.username != null">`username` = #{user.username},</if>
      <if test="user.password != null">`password` = #{user.password},</if>
      <if test="user.code != null">`code` = #{user.code},</if>
      <if test="user.name != null">`name` = #{user.name},</if>
      <if test="user.email != null">`email` = #{user.email},</if>
      <if test="user.phone != null">`phone` = #{user.phone},</if>
      <if test="user.type != null">`type` = #{user.type},</if>
      <if test="user.status != null">`status` = #{user.status},</if>
      <if test="user.isSuperAdmin != null">`is_super_admin` = #{user.isSuperAdmin},</if>
      <if test="user.note != null">`note` = #{user.note},</if>
    </trim>
  </sql>

  <sql id="deleteColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="deletedAt != null">`deleted_at` = #{deletedAt},</if>
    </trim>
  </sql>
  <sql id="deleteEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="user.deletedAt != null">`deleted_at` = #{user.deletedAt},</if>
    </trim>
  </sql>

  <select id="findOne" resultMap="resultMap" resultType="dev.osmanthus.fleet.core.system.entity.User">
    SELECT
    <include refid="column"/>
    FROM `system_user`
    <choose>
      <when test="where != null and where != ''">
        <where>
          ${where} AND deleted_at is NULL
        </where>
      </when>
      <otherwise>
        <where>
          deleted_at is NULL
        </where>
      </otherwise>
    </choose>
    LIMIT 1
  </select>

  <select id="findMany" resultMap="resultMap" resultType="dev.osmanthus.fleet.core.system.entity.User">
    SELECT
    <include refid="column"/>
    FROM `system_user`
    <choose>
      <when test="where != null and where != ''">
        <where>
          ${where} AND deleted_at is NULL
        </where>
      </when>
      <otherwise>
        <where>
          deleted_at is NULL
        </where>
      </otherwise>
    </choose>
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY created_at DESC
      </otherwise>
    </choose>
  </select>

  <select id="findAll" resultMap="resultMap" resultType="dev.osmanthus.fleet.core.system.entity.User">
    SELECT
    <include refid="column"/>
    FROM `system_user`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
    <!--    <if test="order != null and order != ''">-->
    <!--      ORDER BY ${order}-->
    <!--    </if>-->
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY created_at DESC
      </otherwise>
    </choose>
  </select>

  <insert id="insertOne" parameterType="dev.osmanthus.fleet.core.system.entity.User">
    INSERT INTO `system_user`
    (<include refid="insertColumn"/>)
    VALUES
    (<include refid="insertValue"/>)
  </insert>

  <insert id="insertMany" parameterType="java.util.List">
    INSERT INTO `system_user`
    (<include refid="insertColumn"/>)
    VALUES
    <foreach collection="list" item="user" separator=",">
      (<include refid="insertEntityValue"/>)
    </foreach>
  </insert>

  <update id="updateOne" parameterType="dev.osmanthus.fleet.core.system.entity.User">
    UPDATE `system_user`
    <include refid="updateColumn"/>
    WHERE id=#{id}
  </update>

  <!--  <update id="updateMany" parameterType="java.util.HashMap">-->
  <!--    UPDATE `system_user`-->
  <!--    <foreach collection="userList" item="user" separator=",">-->
  <!--      <include refid="updateColumn"/>-->
  <!--    </foreach>-->
  <!--    WHERE id=#{id} AND updated_count=#{updatedCount, jdbcType=INTEGER}-->
  <!--  </update>-->

  <delete id="deleteOne" parameterType="java.lang.String">
    DELETE FROM `system_user` WHERE id=#{id, jdbcType=VARCHAR}
  </delete>

  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `system_user`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

  <select id="exist" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `system_user`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

</mapper>
