<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.osmanthus.fleet.core.org.mapper.OrgUserMapper">
  <sql id="tableColumn">
    `develop_module`.`id`,
    `develop_module`.`code`,
    `develop_module`.`name`,
    `develop_module`.`description`,
    `develop_module`.`module_type`,
    `develop_module`.`persistence_type`,
    `develop_module`.`remark`
  </sql>
  <sql id="column">
    `id`,
    `code`,
    `name`,
    `description`,
    `module_type`,
    `persistence_type`,
    `remark`
  </sql>

  <sql id="insertColumn">
    <trim suffixOverrides=",">
      `id`,
      <if test="code != null">`code`,</if>
      <if test="name != null">`name`,</if>
      <if test="email != null">`email`,</if>
      <if test="phone != null">`phone`,</if>
      <if test="type != null">`type`,</if>
      <if test="status != null">`status`,</if>
      <if test="isAdmin != null">`is_admin`,</if>
    </trim>
  </sql>
  <sql id="insertValue">
    <trim suffixOverrides=",">
      #{id},
      <if test="code != null">#{code},</if>
      <if test="name != null">#{name},</if>
      <if test="email != null">#{email},</if>
      <if test="phone != null">#{phone},</if>
      <if test="type != null">#{type},</if>
      <if test="status != null">#{status},</if>
      <if test="isAdmin != null">#{isAdmin},</if>
    </trim>
  </sql>
  <sql id="insertEntityValue">
    <trim suffixOverrides=",">
      #{user.id},
      <if test="user.code != null">#{user.code},</if>
      <if test="user.name != null">#{user.name},</if>
      <if test="user.email != null">#{user.email},</if>
      <if test="user.phone != null">#{user.phone},</if>
      <if test="user.type != null">#{user.type},</if>
      <if test="user.status != null">#{user.status},</if>
      <if test="user.isAdmin != null">#{user.isAdmin},</if>
    </trim>
  </sql>

  <sql id="updateColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">`code` = #{code},</if>
      <if test="name != null">`name` = #{name},</if>
      <if test="email != null">`email` = #{email},</if>
      <if test="phone != null">`phone` = #{phone},</if>
      <if test="type != null">`type` = #{type},</if>
      <if test="status != null">`status` = #{status},</if>
      <if test="isAdmin != null">`is_admin` = #{isAdmin},</if>
    </trim>
  </sql>
  <sql id="updateEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="user.code != null">`code` = #{user.code},</if>
      <if test="user.name != null">`name` = #{user.name},</if>
      <if test="user.email != null">`email` = #{user.email},</if>
      <if test="user.phone != null">`phone` = #{user.phone},</if>
      <if test="user.type != null">`type` = #{user.type},</if>
      <if test="user.status != null">`status` = #{user.status},</if>
      <if test="user.isAdmin != null">`is_admin` = #{user.isAdmin},</if>
    </trim>
  </sql>

  <sql id="deleteColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="deletedAt != null">`deleted_at` = #{deletedAt},</if>
    </trim>
  </sql>
  <sql id="deleteEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="user.deletedAt != null">`deleted_at` = #{user.deletedAt},</if>
    </trim>
  </sql>

  <resultMap id="resultMap" type="entity.dev.osmanthus.fleet.core.system.Menu">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="email" column="email"/>
    <result property="phone" column="phone"/>
    <result property="type" column="type"/>
    <result property="status" column="status"/>
    <result property="isAdmin" column="is_admin"/>
  </resultMap>

  <select id="findOne" resultMap="resultMap" resultType="entity.dev.osmanthus.fleet.core.system.Menu">
    SELECT
    <include refid="column"/>
    FROM `develop_module`
    <!--    <if test="where != null and where != ''">-->
    <!--      <where>-->
    <!--        ${where}-->
    <!--      </where>-->
    <!--    </if>-->
    <choose>
      <when test="where != null and where != ''">
        <where>
          ${where} AND deleted_at is null
        </where>
      </when>
      <otherwise>
        <where>
          deleted_at is null
        </where>
      </otherwise>
    </choose>
    LIMIT 1
  </select>

  <select id="findMany" resultMap="resultMap" resultType="entity.dev.osmanthus.fleet.core.system.Menu">
    SELECT
    <include refid="column"/>
    FROM `develop_module`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
    <!--    <if test="order != null and order != ''">-->
    <!--      ORDER BY ${order}-->
    <!--    </if>-->
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY code
      </otherwise>
    </choose>
  </select>

  <select id="findAll" resultMap="resultMap" resultType="entity.dev.osmanthus.fleet.core.system.Menu">
    SELECT
    <include refid="column"/>
    FROM `develop_module`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
    <!--    <if test="order != null and order != ''">-->
    <!--      ORDER BY ${order}-->
    <!--    </if>-->
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY code
      </otherwise>
    </choose>
  </select>

  <insert id="insertOne" parameterType="entity.dev.osmanthus.fleet.core.system.Menu">
    INSERT INTO `develop_module`
    (<include refid="insertColumn"/>)
    VALUES
    (<include refid="insertValue"/>)
  </insert>

  <insert id="insertMany" parameterType="java.util.List">
    INSERT INTO `develop_module`
    (<include refid="insertColumn"/>)
    VALUES
    <foreach collection="list" item="user" separator=",">
      (<include refid="insertEntityValue"/>)
    </foreach>
  </insert>

  <update id="updateOne" parameterType="entity.dev.osmanthus.fleet.core.system.Menu">
    UPDATE `develop_module`
    <include refid="updateColumn"/>
    WHERE id=#{id}
  </update>

  <!--  <update id="updateMany" parameterType="java.util.HashMap">-->
  <!--    UPDATE `user`-->
  <!--    <foreach collection="userList" item="user" separator=",">-->
  <!--      <include refid="updateColumn"/>-->
  <!--    </foreach>-->
  <!--    WHERE id=#{id} AND updated_count=#{updatedCount, jdbcType=INTEGER}-->
  <!--  </update>-->

  <delete id="deleteOne" parameterType="java.lang.String">
    DELETE FROM `develop_module` WHERE id=#{id}
  </delete>

  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `develop_module`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

  <select id="exist" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `develop_module`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

</mapper>
