
$black: #000000;
$white: #FFFFFF;

$primary: #6750A4; // primary-40
$secondary: #9A82DB; // primary-60
$tertiary: #F6EDFF; // primary-95

//$neutral: #757575;
$neutral: #C7C7C7;

$error: #DC362E;
$warn: #FF9800;
$success: #4CAF50;

//$background: #F5F5F5;
$background: #F8F8F8;
$surface: #FFFFFF;
$surface-variant: #FAFAFA;

$outline: #E0E0E0;
$overlay: #BFBFBF;

$on-primary: #FFFFFF;
$on-secondary: #FFFFFF;
$on-tertiary: #1C1B1F;

$on-background: #1C1B1F;
$on-surface: #1C1B1F;
$on-surface-variant: #49454F;

$on-error: #FFFFFF;
$on-warn: #FFFFFF;
$on-success: #FFFFFF;


$padding: 16px;
$margin: 16px;

$line-height: 1.5;

$typography-headline: 26px;
$typography-title: 18px;
$typography-body: 14px;
$typography-button: 14px;
$typography-hint: 12px;
$shape: 4px,
