
$themes: (
  "BlueGray": (
    primary: #546E7A,
    secondary: #9E9E9E,
    tertiary: #ECEFF1,
    primary-container: #CFD8DC,
    on-primary-container: #263238,
  ),
  "Purple": (
    primary: #6750A4,
    secondary: #625B71,
    tertiary: #F6EDFF,
    primary-container: #EADDFF,
    on-primary-container: #21005D,
  ),
  "Red": (
    primary: #bd0f1e,
    secondary: #775653,
    tertiary: #FFEDEB,
    primary-container: #ffdad6,
    on-primary-container: #410003,
  ),
  "Green": (
    primary: #006e16,
    secondary: #53634e,
    tertiary: #c9ffbd,
    primary-container: #72ff70,
    on-primary-container: #002203,
  ),
  "Blue": (
    primary: #005fb0,
    secondary: #555f71,
    tertiary: #ebf1ff,
    primary-container: #d5e3ff,
    on-primary-container: #001c3b,
  ),

);
