[mysqld]

server_id=1

log_bin=mysql-bin
binlog_format=Row
sync_binlog=0

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

datadir=/var/lib/mysql

log-error=/var/lib/mysql/mysql.err

max_connections=8000
max_connect_errors=6000

default-storage-engine=INNODB
lower_case_table_names=1
table_open_cache=4000
key_buffer_size=16M
max_allowed_packet=128M
transaction_isolation=READ-COMMITTED

innodb_file_per_table=1
innodb_buffer_pool_size=1G
innodb_flush_method=O_DIRECT
innodb_lock_wait_timeout=1800
innodb_flush_log_at_trx_commit=0

group_concat_max_len=1024000
skip-name-resolve=ON
sql_mode=TRADITIONAL


# sql_mode=ONLY_FULL_GROUP_BY STRICT_TRANS_TABLES NO_ZERO_IN_DATE NO_ZERO_DATE ERROR_FOR_DIVISION_BY_ZERO NO_ENGINE_SUBSTITUTION
