package dev.odes.fleet.module.${templateContext.module.code.toLowerCase()}.entity;

import dev.odes.fleet.common.entity.AbstractEntity;

public class ${templateContext.model} extends AbstractEntity {
  private String id;

}
